<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <style>
      *{
        padding: 0;
        margin: 0;
      }
      .header{
        padding: 0.5em;
        background-color: rgb(133, 197, 206);
        font-weight: bold;
        font-size: 30px;
        display: flex;
        justify-content: center;
      }

      .btn{
        padding: 10px 20px;
        background-color:blue;
        color:#ffff;
        margin-top: 15px;
        cursor: pointer;
        font-size: 20px;
      }
      .container{
        padding: 15px;
      }
    </style>
  </head>
  <body>
    <div class="header">OAuth2.0</div>
   <div class="container">
    <h2>Login with Google</h2>
    <a href="/auth/google"><button class="btn">Google+</button></a>
   </div>
  </body>
</html>
